<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="com.grabid.logistic.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.grabid.logistic.permission.MAPS_RECEIVE" />
    <application>
        <activity android:name="com.grabid.activities.BarCodeScanner"></activity>
    </application>
</manifest>
