<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tipbox.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
            android:name=".util.MApplication"
            android:allowBackup="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode" />
        <activity
                android:name=".Splash"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
       <activity
                android:name=".BarcodeScan"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
                android:name=".QrCodeSwipe"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
                android:name=".ThankuScreen"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
                android:name=".Forgot"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
                android:name=".Registor"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
                android:name=".Login"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"
                android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- Firebase Notifications -->
        <service
                android:name=".fcm.FirebaseInstanceIDService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
                android:name=".fcm.GrabidFirebaseMessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="1"/>
        <!-- ./Firebase Notifications -->
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="2ae21ae97bf79d57532d383316524dfacd898678" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/app_icon" />
    </application>

</manifest>